* {
    background-color: purple;
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.header{
    border:black;
    background-color: black;

}
.pic2{

    display: inline-grid;
    margin-left:  20px;
margin-top: 20px;
font-size: 15px;
font-family: 'Shadows Into Light', cursive;
}

h1{
    color: black;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
}
img {
    width: 60px;
    height: 60px;


}

.login {
    color: black;
    text-align: center;
    margin: auto;
    display: block;
}

button {
    /* color: red; */
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    color: black;
    width: 50px;

}
/* button:hover{
background-color: purple;
} */


#welcome {
    border: 1px solid black;
}

.pic {

    border: solid black;
    text-align: center;
    margin: auto;

    display: block;
    width: 500px;
    opacity:0.6;
}

.default {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto;
    display: block;
}

input  {

    background-color: white;
    text-align: center;
    margin: auto;
    display: block;
    opacity: 0.6
}
input:hover {
  /* background-color:	#DDA0DD; */
}
h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}
/* textarea:hover{
    background-color: purple;
} */
.bio{
    text-align: center;
    margin: auto;
    display: block;
}

.error {
    color: black;
    text-align: center;
    margin: auto;
    display: block;
}
.others{
    border: solid 1px black;
    text-align:center;



}
