* {
    background-color: purple;
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.header{
    border:black;
    background-color: black;

}
.profilepic{
    margin top: 30px;

}
.pic2{

float: right;
margin-right: 30px;
margin-top: 10px;
border-radius: 85px;

}

h1{
    color: black;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
}
img {
    width: 60px;
    height: 60px;
    border-radius: 50px;

}

.login {
    color: black;
    text-align: center;
    margin: auto;
    display: block;
}

button {
    /* color: red; */
    text-align: center;
    color: white;
    background-color: black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 30px;

}
/* button:hover{
background-color: purple;
} */


#welcome {
    border: 1px solid black;
}

.pic {

    border: solid black;
    text-align: center;
    margin: auto;

    display: block;
    width: 500px;
    opacity:0.6;
}

.default {
    width: 150px;
    height: 150px;
margin: auto;
margin-top: 30px;

    display: block;

}

input  {

    background-color: white;
    text-align: center;
    margin: auto;
    display: block;
    opacity: 0.6
}
input:hover {
  /* background-color:	#DDA0DD; */
}
h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}
/* textarea:hover{
    background-color: purple;
} */
.bio{
    text-align: center;
    margin: auto;
    display: block;
}

.error {
    color: black;
    text-align: center;
    margin: auto;
    display: block;
}
.others{

    border: solid 3px black;
    text-align:center;
    width: 800px;
    /* margin-left: 150px; */
margin: 50px auto 0;

    display: block;



}
.others-title{
    border: solid 3px black;
    height: 50px;
    margin: 10px;
}
.others-pic{
    width: 200px;
    height: 200px;
}
/* .bio{
    border: 1px solid black;
    width: 800px;
    margin: 10px;

    display: block;


} */
